
/* - Master Styles- */

* {
box-sizing: border-box;
}

.body{
margin:0px;
}

/*  SideNote | use Grid for layouts and Flexbox for nav */

.nav-container {
    padding: 18px;
    display:grid;
    grid-template-columns: 1fr;
}

/* - Nav Styles - */

.nav-wrapper {
display: flex;
justify-content: space-between;
}

.left-nav {
list-style: none;
display: flex;
}

.nav-wrapper > .left-nav li {
display: flex;
margin-right: 15px;
font-size: 0.9em;
text-transform: uppercase;
}

.nav-link-wrapper {
height: 22px;
border-bottom: 1px solid transparent;
transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
color:rgb(53, 64, 70);
text-decoration: none;
transition: color 0.5;
}

.nav-link-wrapper:hover{
border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
border-bottom: 1px solid black;
}

.right-nav{
    padding-top: 14px;
}

/* - Portfolio Styles - */




/* - Temp Home Styles - */


ul.contactList {
    list-style: none;
    line-height: 2em;
    display: inline-block;
    text-align: left;
}