
/* - Master Styles- */

* {
box-sizing: border-box;
margin: 0px;
padding: 0px;
}

html {
    font-size: 22px;
    font-family: Helvetica, Arial, sans-serif;
    background:#d1eeeb;
    height:100%;

}

header{
    background:#ffffff;
}


body{
    height:100%;
    display:flex;
    flex-direction:column;

}

.brand{
    color:rgb(60, 70, 76);
}

/*  SideNote | use Grid for layouts and Flexbox for nav */

.nav-container {
    padding: 18px;
    display:grid;
    grid-template-columns: 1fr;
}

/* - Nav Styles - */

.nav-wrapper {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
flex-direction: row-reverse;
row-gap: 0.5em;
}

.left-nav {
list-style: none;
flex-wrap:wrap;
display: flex;

}



.nav-wrapper > .left-nav li {
display: flex;
margin-right: 18px;
font-size: 0.9em;
text-transform: uppercase;
align-self: center;
}

.nav-link-wrapper {
height: 22px;
border-bottom: 1px solid transparent;
transition: border-bottom 0.3s;

}

.nav-link-wrapper.active a {
    color:rgb(60, 70, 76);
}

.nav-link-wrapper.active {
pointer-events: none;

}

.nav-link-wrapper a {
color:rgb(142, 153, 159);
text-decoration: none;
transition: color 0.4s -.1s;
}

.nav-link-wrapper:hover{
border-bottom: 1px solid black;
color:rgb(60, 70, 76);
}

.nav-link-wrapper a:hover{
border-bottom: 1px solid black;
color:rgb(60, 70, 76);
}

.right-nav{
    align-self: center;

}

/* - Portfolio Styles - */




/* - Temp Home Content - */


ul.tempList {
    list-style: none;
    line-height: 2em;
    display: inline-block;
    text-align: left;
    padding-left: 18px;
    padding-top: 22px;
    color:rgb(33, 37, 40);
}

a {
    color:rgb(33, 37, 40);
    font-weight:normal;
    text-decoration: none;
}


/* - Footer Stuff - */

footer{
    margin-top: auto;
    padding-block: 15px;
    font-size: 12px;
    text-align: center;
    font-weight: 100;
    color:rgb(142, 153, 159);
    background-color: #ffffff;
}