* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
}


    /* - - - - - - Small Screen Feature: Start - - - - - - */
@media screen and (max-width: 650px){

    html {
        font-size: 16px;
    }
    
    /* - - - - - - NavBar Start - - - - - - */
    .nav-container {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        font-family: Montserrat, Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.2px;
    }
    
    .nav-brand-wrapper {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top: 1.25em;
        margin-bottom: 0.25em;
        gap:0.5em;
        align-items: center;
    }

    .brand-img {
        border-radius: 50%;
        width: 3.5em;
        height: 3.5em;
        background-position:58% 50%;
        background-size: 140%;
        background-repeat: no-repeat;
    }

    .brand-name {
        color:rgb(60, 70, 76);
        margin-top: 0.5em;
        margin-bottom: 1em;
        font-size: 1em;
    }

    .left-nav {
        display: flex;
        flex-direction: column;
        background-color: rgb(198, 230, 228);
        width: 100%;
        /* border-bottom: 2px solid rgb(118, 173, 157); */
    }

    .left-nav li {
        display: none;
        line-height: 2.75em;
        font-size: 1.15em;
        width:100%;
        text-align: center;
        border-bottom: 3px solid rgb(244, 255, 252);
    }

    .left-nav a {
        color:rgb(58, 75, 78);
        text-decoration: none;
    }

    .nav-link {
        background-color: solid transparent;
        transition: background-color 0.3s;
    }

    .nav-link.active a {
        color:rgb(102, 130, 134);
    }

    .nav-link:hover {
        color:rgb(95, 147, 218);
        background-color: rgb(172, 215, 213)
    }
    
    /* - - - - - - Nav Toggle Feature: Start - - - - - - */

    .nav-toggle:checked ~ li {
        display:block;
        list-style: none;
    }

    .nav-toggle {
        display: none;
    }

     .nav-toggle-label {
        top:5.90em;
        left:1em;
        position:absolute; 
    }

    .nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
        display:block;
        background: rgb(60, 70, 76);;
        height: 3.5px;
        width: 2em;
        border-radius: 3px;
        position: relative;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;
    } 

    .nav-toggle-label span::before {
        bottom: 7px;
    }
    
    .nav-toggle-label span::after {
        top: 7px;
    }  
    /* - - - - - - Nav Toggle Feature: End - - - - - - */
        /* - - - - - - NavBar End - - - - - - */
}
    /* - - - - - - Small Screen Feature: End - - - - - - */



    /* - - - - - - Medium Screen Feature: Start - - - - - - */
 @media screen and (min-width: 650px) and (max-width: 1000px){

        html {
            font-size: 20px;
        }

        /* - - - - - - NavBar Start - - - - - - */
    .nav-container {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        font-family: Montserrat, Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.2px;
    }

    .nav-brand-wrapper {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top: 1.75em;
        margin-bottom: 1.5em;
        gap:0.5em;
        align-items: center;
    }

    .brand-img {
        border-radius: 50%;
        width: 4.25em;
        height: 4.25em;
        background-position:58% 50%;
        background-size: 140%;
        background-repeat: no-repeat;
    }

    .brand-name {
        color:rgb(60, 70, 76);
        margin-top: 0.5em;
        margin-bottom: 1em;
        font-size: 1.25em;
    }

    .left-nav {
        margin-bottom: 1.75em;
        display: flex;
        flex-direction: row;
        width: 100%;
        gap:2.5em;
        justify-content: center;
    }

    .left-nav li {
        font-size: 1.25em;
        width:min-content;
    }

    .left-nav a {
        color:rgb(142, 153, 159);
        text-decoration: none;
    }

    .nav-link {
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.3s;
    }

    .nav-link.active a{
        color:rgb(60, 70, 76);
        border-bottom: 1px solid black;
    }

    .nav-link.active {
        pointer-events: none;
        border-bottom: 2px solid black;
    }

    .nav-link a {
        color:rgb(142, 153, 159);
        text-decoration: none;
        transition: color 0.4s -.1s;
    }

    .nav-link:hover {
        border-bottom: 1px solid black;
        color:rgb(60, 70, 76);
    }

    .nav-link a:hover {
        border-bottom: 1px solid black;
        color:rgb(60, 70, 76);
    }

    /* - - - - - - Nav Toggle Feature: Start - - - - - - */
    .nav-toggle:checked ~ li {
        display:block;
    }

    .nav-toggle {
        display: none;
    }

    .nav-toggle-label {
        top:5.90em;
        left:1em;
        position:absolute; 
    }

    .nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
        display:none;
    }

/* - - - - - - Nav Toggle Feature: End - - - - - - */
    /* - - - - - - NavBar End - - - - - - */

 }
    /* - - - - - - Medium Screen Feature: End - - - - - - */



    /* - - - - - - Large Screen Feature: Start - - - - - - */
@media screen and (min-width: 1000px){
    html {
        font-size: 20px;
    }

    /* - - - - - - NavBar Start - - - - - - */
.nav-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.nav-brand-wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 1.75em;
    margin-bottom: 1.5em;
    gap:0.5em;
    align-items: center;
}

.brand-img {
    border-radius: 50%;
    width: 4.25em;
    height: 4.25em;
    background-position:58% 50%;
    background-size: 140%;
    background-repeat: no-repeat;
}

.brand-name {
    color:rgb(60, 70, 76);
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 1.25em;
}

.left-nav {
    margin-bottom: 1.75em;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:2.5em;
    justify-content: center;
}

.left-nav li {
    font-size: 1.25em;
    width:min-content;
}

.left-nav a {
    color:rgb(142, 153, 159);
    text-decoration: none;
}

.nav-link {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.nav-link.active a{
    color:rgb(60, 70, 76);
    border-bottom: 1px solid black;
}

.nav-link.active {
    pointer-events: none;
    border-bottom: 2px solid black;
}

.nav-link a {
    color:rgb(142, 153, 159);
    text-decoration: none;
    transition: color 0.4s -.1s;
}

.nav-link:hover {
    border-bottom: 1px solid black;
    color:rgb(60, 70, 76);
}

.nav-link a:hover {
    border-bottom: 1px solid black;
    color:rgb(60, 70, 76);
}

/* - - - - - - Nav Toggle Feature: Start - - - - - - */
.nav-toggle:checked ~ li {
    display:block;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    top:5.90em;
    left:1em;
    position:absolute; 
}

.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
    display:none;
}

/* - - - - - - Nav Toggle Feature: Start - - - - - - */
 .nav-toggle:checked ~ li {
    display:block;
}

.nav-toggle {
    display: none;
}

 .nav-toggle-label {
    top:5.90em;
    left:1em;
    position:absolute; 
}

.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
    display:none;
}

/* - - - - - - Nav Toggle Feature: End - - - - - - */
    /* - - - - - - NavBar End - - - - - - */
}
    /* - - - - - - Large Screen Feature: End - - - - - - */


    body {
        background-color: rgb(228, 245, 245);
        min-height:100%;
    } 

/* - - - - - - - - - - - - Start Body Grid Settings */

    .page-content-base {
        display: flex;
        flex-direction: row;
        margin: 1.5em;
        margin-top: 2em;
        flex-wrap: wrap;
        justify-content: center;
        /* outline: 5px solid black;  */
    } 
       
    .segments-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; 
        align-self: center; 
        gap:1.25em;
        /* controls amt of collumns to flexbox */
        max-width: 65em;
        /* outline: 7px solid rgb(255, 7, 7); */
      } 
      
     .singular-segment-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 17.5em;
        width: 17.5em; 
        /* outline: 3px solid rgb(210, 13, 240);  */
    } 


    .bkg-img-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 2.95em;
        height: 17.5em;
        width: 17.5em;   
        /* outline: 2px solid rgb(0, 0, 0);   */
    }
    
     .segment-asset-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 2.95em;
        justify-content: center;
        min-height: 17.5em;
        min-width: 17.5em;
        gap:1.5em;
        /* outline: 1px solid rgb(85, 240, 13); */
    } 
    
    .segment-title {
        margin-top: 1em;
        font-family: Montserrat, Helvetica, Arial, sans-serif;
        letter-spacing: 1.2px;
        /* outline: 2px solid rgb(29, 134, 17);  */
    }
      
    .segment-logo {
        max-width: 80%; 
        margin-top: 2em;
        align-self: center;
        /* outline: 2px solid rgb(29, 134, 17);  */

    }
    
    .segment-logo img {
        max-width: 90%; 
    }
    
   .segment-asset-wrapper .segment-title {
        transform: translateY(1.5em);
        color:transparent;
        transition:transform .3s ease-out;
    } 
  
    .segment-asset-wrapper:hover .segment-title {
        font-weight: bolder;
        font-size: 600;
        color:rgb(255, 255, 255);
        transform: translateY(0px);
    } 
    
    .segment-asset-wrapper.overlay {
        background-color: rgba(0,0,0,0);
        transition: background-color 0.5s ease-out -0.1s;
        border-radius: 2.95em;
    }
    
    .singular-segment-wrapper:hover .overlay {
        background-color: rgba(0,0,0,.70);
    }
    
    
    /* - - - - - - - - - - - - - - - - - - End Body Grid Settings */

    footer{
        margin-top: auto;
        padding-block: 15px;
        font-size: 12px;
        text-align: center;
        font-weight: 100;
        color:rgb(142, 153, 159);
        background-color: #ffffff;
    }




