* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

html {
    font-size: 18px;
}
body {
    background-color: rgb(228, 245, 245)
} 

    /* - - - - - - Small Screen Feature: Start max 600px - - - - - - */
@media screen and (max-width: 600px){

    html {
        font-size: 18px;
    }
    
    /* - - - - - - NavBar Start - - - - - - */
    .nav-container {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        font-family: Montserrat, Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.2px;
    }
    
    .nav-brand-wrapper {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top: 1.25em;
        margin-bottom: 0.25em;
        gap:0.5em;
        align-items: center;
    }

    .brand-img {
        border-radius: 50%;
        width: 3.5em;
        height: 3.5em;
        background-position:58% 50%;
        background-size: 140%;
        background-repeat: no-repeat;
    }

    .brand-name {
        color:rgb(60, 70, 76);
        margin-top: 0.5em;
        margin-bottom: 1em;
        font-size: 1em;
    }

    .left-nav {
        display: flex;
        flex-direction: column;
        background-color: rgb(212, 243, 241);
        width: 100%;
    }

    .left-nav li {
        display: none;
        line-height: 2.25em;
        font-size: 1.15em;
        width:100%;
        text-align: center;
    }

    .left-nav a {
        color:rgb(60, 70, 76);
        text-decoration: none;
    }

    .nav-link {
        background-color: solid transparent;
        transition: background-color 0.3s;
    }

    .nav-link.active a{
        color: rgb(88, 142, 126)
    }

    .nav-link:hover {
        color:rgb(95, 147, 218);
        background-color: rgb(172, 215, 213)
    }
    
    /* - - - - - - Nav Toggle Feature: Start - - - - - - */

    .nav-toggle:checked ~ li {
        display:block;
        list-style: none;
    }

    .nav-toggle {
        display: none;
    }

     .nav-toggle-label {
        top:5.90em;
        left:1em;
        position:absolute; 
    }

    .nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
        display:block;
        background: rgb(60, 70, 76);;
        height: 3.5px;
        width: 2em;
        border-radius: 3px;
        position: relative;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;
    } 

    .nav-toggle-label span::before {
        bottom: 7px;
    }
    
    .nav-toggle-label span::after {
        top: 7px;
    }  
    /* - - - - - - Nav Toggle Feature: End - - - - - - */
        /* - - - - - - NavBar End - - - - - - */
}
    /* - - - - - - Small Screen Feature: End - - - - - - */



    /* - - - - - - Medium Screen Feature: Start 600-1000- - - - - - */
 @media screen and (min-width: 600px) and (max-width: 1000px){

    /* - - - - - - NavBar Start - - - - - - */
 .nav-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.nav-brand-wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 1.25em;
    margin-bottom: 0.25em;
    gap:0.5em;
    align-items: center;
}

.brand-img {
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
    background-position:58% 50%;
    background-size: 140%;
    background-repeat: no-repeat;
}

.brand-name {
    color:rgb(60, 70, 76);
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 1em;
}

.left-nav {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:2.5em;
    justify-content: center;
}

.left-nav li {
    font-size: 0.75em;
    width:min-content;
}

.left-nav a {
    color:rgb(142, 153, 159);
    text-decoration: none;
}

.nav-link {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.nav-link.active a{
    color:rgb(60, 70, 76);
    border-bottom: 1px solid black;
}

.nav-link.active {
    pointer-events: none;
    border-bottom: 2px solid black;
}

.nav-link a {
    color:rgb(142, 153, 159);
    text-decoration: none;
    transition: color 0.4s -.1s;
}

.nav-link:hover {
    border-bottom: 1px solid black;
    color:rgb(60, 70, 76);
}

.nav-link a:hover {
    border-bottom: 1px solid black;
    color:rgb(60, 70, 76);
}

/* - - - - - - Nav Toggle Feature: Start - - - - - - */
 .nav-toggle:checked ~ li {
    display:block;
}

.nav-toggle {
    display: none;
}

 .nav-toggle-label {
    top:5.90em;
    left:1em;
    position:absolute; 
}

.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
    display:none;
}

/* - - - - - - Nav Toggle Feature: End - - - - - - */
    /* - - - - - - NavBar End - - - - - - */

 }
    /* - - - - - - Medium Screen Feature: End - - - - - - */



    /* - - - - - - Large Screen Feature: Start 1000- - - - - - */
@media screen and (min-width: 1000px){

    /* - - - - - - NavBar Start - - - - - - */
 .nav-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.nav-brand-wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 1.25em;
    margin-bottom: 0.25em;
    gap:0.5em;
    align-items: center;
}

.brand-img {
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
    background-position:58% 50%;
    background-size: 140%;
    background-repeat: no-repeat;
}

.brand-name {
    color:rgb(60, 70, 76);
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 1em;
}

.left-nav {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:2.5em;
    justify-content: center;
}

.left-nav li {
    font-size: 0.75em;
    width:min-content;
}

.left-nav a {
    color:rgb(142, 153, 159);
    text-decoration: none;
}

.nav-link {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.nav-link.active a{
    color:rgb(60, 70, 76);
    border-bottom: 1px solid black;
}

.nav-link.active {
    pointer-events: none;
    border-bottom: 2px solid black;
}

.nav-link a {
    color:rgb(142, 153, 159);
    text-decoration: none;
    transition: color 0.4s -.1s;
}

.nav-link:hover {
    border-bottom: 1px solid black;
    color:rgb(60, 70, 76);
}

.nav-link a:hover {
    border-bottom: 1px solid black;
    color:rgb(60, 70, 76);
}

/* - - - - - - Nav Toggle Feature: Start - - - - - - */
 .nav-toggle:checked ~ li {
    display:block;
}

.nav-toggle {
    display: none;
}

 .nav-toggle-label {
    top:5.90em;
    left:1em;
    position:absolute; 
}

.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
    display:none;
}

/* - - - - - - Nav Toggle Feature: End - - - - - - */
    /* - - - - - - NavBar End - - - - - - */


}
    /* - - - - - - Large Screen Feature: End - - - - - - */



/* - - - - - - - - - - - - Start Body Grid Settings */

.page-content-base {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin: 0.75em;
    flex-wrap: wrap;
    justify-content: center;
    /* outline: 5px solid black; */
    } 
       
    .segments-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 60em;
        justify-content: center; 
        align-self: center; 
        /* outline: 7px solid rgb(255, 7, 7); */
      } 
      
     .singular-segment-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height:17em;
        min-width:17em;
        border-radius: 2em;
        outline: 3px solid rgb(210, 13, 240);
    } 
    
     .segment-asset-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:.05em;
        min-height:17em;
        min-width:17em;
        border-radius: 2em;
        outline: 3px solid rgb(60, 222, 60);
    } 
    
      
    .segment-logo {
        /* outline: 2px solid rgb(29, 134, 17); */
        max-width: 17em;
    }
    
    .segment-logo img {
        max-width: 75%; 
        margin-top: 30px;
    }
    

    .segment-title {
         color:transparent;
         transition:transform .3s ease-out;
    }
        
    .segment-asset-wrapper .segment-title {
        /* transform: translateY(.00em); */
        color:transparent;
        transition:transform .3s ease-out;
    } 
  
    .segment-asset-wrapper:hover .segment-title {
        font-weight: bolder;
        font-size: 600;
        color:rgb(255, 255, 255);
        transform: translateY(0px);
        /* outline: .5px solid rgb(6, 255, 68);  */
    } 
    
    .segment-asset-wrapper.overlay {
        /* background-color: rgba(40, 38, 98, 0); */
        transition: background-color 0.5s ease-out -0.1s;
        border-radius: 2em;
        /* outline: 5px solid rgb(255, 6, 251);  */
    }
    
    .singular-segment-wrapper:hover .overlay {
        background-color: rgba(38, 42, 79, 0.567);
        /* outline: 5px solid rgb(2, 2, 2);  */
    }



    /* .segment-asset-wrapper.bkg-image img{
        max-height: 100%;
        max-width: 100%;
        outline: 5px solid rgb(2, 2, 2); 
    } */
    
    
    /* - - - - - - - - - - - - - - - - - - End Body Grid Settings */

    /* .segment-asset-wrapper.bkg-color-1{
        background-color: rgb(136, 57, 61);
    }

    .segment-asset-wrapper.bkg-color-2{
        background-color: rgb(116,116,193);
    }
    .segment-asset-wrapper.bkg-color-3{
        background-color: rgb(128,199,199);
    }
    .segment-asset-wrapper.bkg-color-4{
        background-color: rgb(98, 167, 112);
    }
    .segment-asset-wrapper.bkg-color-5{
        background-color: rgb(177,35,41);
    }
    .segment-asset-wrapper.bkg-color-6{
        background-color: rgb(230, 177, 71);
    } */

    





    footer{
        margin-top: auto;
        padding-block: 15px;
        font-size: 12px;
        text-align: center;
        font-weight: 100;
        color:rgb(142, 153, 159);
        background-color: #ffffff;
    }



